body{
	background-color: #212121;
	color: white;
	font-family: 'Poppins';
}

.bg-image{
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
}
.mask{
	background-color: rgba(0, 0, 0, 0.8);
	height: 100vh;
	
}
*{
    font-family: "Poppins", sans-serif;
}

/* Nav bar */

.navbar{
	transition: all 0.5s;
	padding: 10px 25px;
}
.navbar-scrolled{
	background-color: rgb(139, 37, 37,0.9);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
}


.titulo-pagina{
	color: red;
	font-weight: bold;
}

.navbar-brand{
	font-size: 1.6rem;
}


.navbar-scrolled {
	padding-top: 5px;
	padding-bottom: 5px;
  }

.navbar{
	transition: all 0.5s;
	padding: 10px 25px;
}

.logueado{
	display: none;
}

.administrar-navbar{
	display: none;
}

@media screen and (max-width: 800px){
	.nav-link{
		font-size: 0.8rem !important;
		padding: 5px 3.5px !important;
		transition: 0.3s ease all;
	}
	.navbar-brand{
		font-size: 1.5rem;
		transition: 0.3s ease all;
	}
}

@media screen and (max-width: 575px){

	.navbar-expand-sm{
		background-color: rgb(139, 37, 37,0.9);
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
		padding: 5px 15px !important;
	}
	
	.navbar-expand-sm a{
		font-size: 1rem;
	}
	
	.nav-link{
		padding: 5px 0;
		font-size: 0.8rem !important;
	}
	
	.navbar-toggler button{
		height: 20%;
	}
	.navbar-toggler-icon{
		font-size: 0.75rem;
	}
}

/* Detalle y boton de vuelta */


.boton-catalogo{
	background-color: rgb(221, 70, 70);
	border-radius: 10px;
	text-align: center;
	padding: 10px 20px;
	margin-top: 1rem;
	border: none;
	width: 70%;
}
.txt-boton-catalogo{	
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 18px;
}
.txt-boton-catalogo i{
	font-size: 22px;
	vertical-align: middle;
	color: rgb(255, 255, 255);
}

.boton-catalogo:hover{
	background-color: rgb(250, 66, 66);
	box-shadow: 0 0 20px rgb(224, 102, 71);
}

.boton-catalogo:hover .txt-boton-catalogo,.boton-catalogo:hover .txt-boton-catalogo i{
	color: white;
	text-shadow: 0 0 30px #fff;
}

  
  .cajita-detalle{
	max-width: 100%;
  }

  /*Footer*/
.footer {
	position: absolute;
	background-color: rgb(20, 20, 20);

  }
  a {
	text-decoration: none;
	color: white;
  }
  
  .container-redes-sociales {
	text-align: center;
	padding: 8px;
  }
  
  .container-redes-sociales ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
  }
  
  .container-redes-sociales ul li {
	display: inline-block;
	position: relative;
  }
  
  .container-redes-sociales ul li:last-child {
	margin-right: 0;
  }
  
  .container-redes-sociales ul li a {
	text-decoration: none;
	color: #ccc;
  }
  
  .logo {
	font-size: 1.3rem;
	padding: 8px;
	padding-bottom: 16px;
  }
  
  .titulo-pagina {
	color: red;
	font-weight: bold;
  }
  
  .paginas {
	color: #ccc;
  }
  
  .paginas:hover {
	text-decoration: underline;
	color: gray;
  }
  
  .linea {
	border: none;
	border-left: 1px solid gray;
	text-align: center;
	padding-right: 4px;
	padding-left: 4px;
    font-family: "Poppins";
	font-weight: 100;
  }
  
  .linea:first-child {
	border: none;
  }
  
  .container-redes-sociales ul li a i {
	font-size: 20px;
	margin-right: 10px;
	padding: auto;
  }
  
  .container-about {
	color: #ccc;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 8px;
  }
  
  .links {
	font-size: 0.9rem;
	line-height: 50px;
	text-decoration: none;
	justify-content: space-between;
	margin-left: 24px;
	transition: 0.3s ease all;
  }
  
  @media (min-width:768px) {
	.linea {
	  padding-right: 8px;
	  padding-left: 8px;
	}
  
  }
  
  .links:hover {
	color: red;
	transition: 0.3s ease all;
  }
  
  .copy {
	background-color: black;
  }
