body{
    background-color: black;
    color: red;
}
.admin{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}
.table-bordered-custom {
    border-color: black;
    border-width: 2px;
}
.table-bordered-custom th,
.table-bordered-custom td {
    border-color: black;
    border-width: 2px;
}
.encabezado th{
    background-color: #DE0202;
    color: #fff;
}
.fila td{
    background-color:rgb(184, 184, 184);
}
.editar{
    background-color: green;
    transition: 0.2s;
}
.editar:hover{
    background-color: #044A04;
}
.eliminar{
    background-color: #DE0202;
    transition: 0.2s;
}
.eliminar:hover{
    background-color: #961414;
}
.destacar{
    background-color: #FFD900;
    transform: 0.2s;
}
.destacar:hover{
    background-color:#cfb20f ;
}
.destacado {
    background-color: yellow; /* Puedes cambiar el color según tus preferencias */
}


/* Nav bar */

.navbar{
	transition: all 0.5s;
	padding: 10px 25px;
}
.navbar-scrolled{
	background-color: rgb(139, 37, 37,0.9);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
}


.titulo-pagina{
	color: red;
	font-weight: bold;
}

.navbar-brand{
	font-size: 1.6rem;
}


.navbar-scrolled {
	padding-top: 5px;
	padding-bottom: 5px;
  }

.navbar{
	transition: all 0.5s;
	padding: 10px 25px;
}

.logueado{
	display: none;
}

.administrar-navbar{
	display: none;
}

@media screen and (max-width: 800px){
	.nav-link{
		font-size: 0.8rem !important;
		padding: 5px 3.5px !important;
		transition: 0.3s ease all;
	}
	.navbar-brand{
		font-size: 1.5rem;
		transition: 0.3s ease all;
	}
}

@media screen and (max-width: 575px){

	.navbar-expand-sm{
		background-color: rgb(139, 37, 37,0.9);
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
		padding: 5px 15px !important;
	}
	
	.navbar-expand-sm a{
		font-size: 1rem;
	}
	
	.nav-link{
		padding: 5px 0;
		font-size: 0.8rem !important;
	}
	
	.navbar-toggler button{
		height: 20%;
	}
	.navbar-toggler-icon{
		font-size: 0.75rem;
	}
}


/*Footer */