/* Nav bar */

.navbar {
  transition: all 0.5s;
  padding: 10px 25px;
}

.navbar-scrolled {
  background-color: rgb(139, 37, 37, 0.9);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
}


.titulo-pagina {
  color: red;
  font-weight: bold;
}

.navbar-brand {
  font-size: 1.6rem;
}


.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar {
  transition: all 0.5s;
  padding: 10px 25px;
}

.logueado {
  display: none;
}

.administrar-navbar {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-link {
    font-size: 0.8rem !important;
    padding: 5px 3.5px !important;
    transition: 0.3s ease all;
  }

  .navbar-brand {
    font-size: 1.5rem;
    transition: 0.3s ease all;
  }
}

@media screen and (max-width: 575px) {

  .navbar-expand-sm {
    background-color: rgb(139, 37, 37, 0.9);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
    padding: 5px 15px !important;
  }

  .navbar-expand-sm a {
    font-size: 1rem;
  }

  .nav-link {
    padding: 5px 0;
    font-size: 0.8rem !important;
  }

  .navbar-toggler button {
    height: 20%;
  }

  .navbar-toggler-icon {
    font-size: 0.75rem;
  }
}

/* Cuerpo del registro*/
.main-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8vh;
}

.main-section {
  width: 100%;
}

/*Seccion de formulario*/
/*Texto de consulta*/
.titleForm-contacto,
.titleMaps-contacto,
.text-contacto,
.text-contacto h2 {
  transition: font-size 0.5s ease;
}

.formMap-section,
.maps-location-md,
.maps-frame-md {
  transition: height 0.5s ease;
}

.text-contacto {
  text-align: center;
  font-size: 1rem;
  background-color: #55754ee8;
  padding: 2rem 5% 0.5rem;
  color: azure;
}

.text-contacto h2 {
  font-size: 1.35rem;

}

.rightColumn-contacto {
  display: none;
}

/*Formulario Titulo*/
.titleForm-contacto {
  font-size: 1.2rem;
  color: rgb(74, 82, 74);
  font-weight: 700;
}

/*Formulario contenedor*/
.divForm-contacto {
  background-color: #7fbb73a8;
  padding: 7% 6.5% 5%;

}

.form-contacto {
  padding-left: 1.5%;
}

/*Formulario inputs y labels*/

.labelContacto {
  font-weight: 500;
  color: rgb(74, 82, 74);
  font-size: 1rem;
}

.inputContacto {
  font-size: 1rem;
  margin: 0.4rem 0 0.4rem 3%;
  width: 97%;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: none;
}

.inputContacto-consulta {
  width: 95%;
  margin-left: 5%;
  margin-top: 0.4rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  height: 8rem;
  font-size: 1rem;
  border: none;
}

.footerForm-contacto {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.btnContacto {
  width: 80%;
  margin: 0 auto;
  border: none;
}

/*Aside de informacion de contacto*/

.element-contacto {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 1rem;
  border-bottom: #b2c7ae solid 2px;
}

.element-contacto h3 {
  margin: 0 0 0.5rem;
  font-size: 1rem;
  color: black;
}

.element-contacto a {
  text-decoration: none;
}

.text-infoContacto {
  width: 80%;
  color: black;
}

.text-infoContacto p {
  color: black;
  margin: 0;
}

.logo-infoContacto {
  display: flex;
}

.fa {
  color: #b2c7ae;
  font-size: 3rem;
}

.location-contacto p {
  text-align: left;
  margin-left: 1rem;
}

/*Dispositivos Medianos*/


@media (min-width: 768px) {
  .main-contacto {
    display: block;
    height: 92%;
    margin-top: 8vh;
  }

  .main-section {
    width: 100%;
    height: 88%;
  }

  .formMap-section {
    display: flex;
    height: 100%;
    box-sizing: border-box;
  }

  /*Seccion de formulario*/
  /*Texto de consulta*/
  .text-contacto {
    text-align: center;
    font-size: 1.0rem;
    background-color: #55754ee8;
    padding: 1.5rem 4% 0.3rem;
    color: azure;
    height: 15%;
  }

  .text-contacto h2 {
    font-size: 1.25rem;
  }

  /*Formulario Titulo*/
  .titleForm-contacto,
  .titleMaps-contacto {
    font-size: 1.15rem;
    color: rgb(74, 82, 74);
    font-weight: 700;
  }

  .titleForm-contacto {
    margin-bottom: 1rem;
  }

  .titleMaps-contacto {
    text-align: center;
    color: rgb(249, 253, 249);
    margin: 0;
  }

  /*Formulario contenedor*/
  .divForm-contacto {
    background-color: #7fbb73a8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    height: 100%;
  }

  .leftColumn-contacto {
    flex: 3;
  }

  .form-contacto {
    padding-left: 1.5%;
    width: 100%;
  }

  .rightColumn-contacto {
    display: block;
    flex: 2;
    background-color: rgb(121, 167, 129);
    padding-top: 3%;
  }

  .maps-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }

  .maps-location-md {
    display: flex;
    position: relative;
    height: 50%;
    width: 80%;
  }

  .maps-frame-md {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
  }

  /*Formulario inputs y labels*/

  .labelContacto {
    font-weight: 500;
    color: rgb(74, 82, 74);
    font-size: 1rem;
  }

  .inputContacto {
    width: 97%;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    margin: 0.5rem 0 0.5rem 3%;
  }

  .inputContacto-consulta {
    width: 97%;
    margin-left: 3%;
    border-radius: 0.5rem;
    height: 10rem;
    font-size: auto;
    border: none;
    margin-top: 0.5rem;
  }

  .footerForm-contacto {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .btnContacto {
    width: 100%;
    margin: 0 auto;
    border: none;
  }

  /*Aside de informacion de contacto*/

  .contact-section {
    width: 100%;
  }

  .info-contacto {
    height: 10vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .element-contacto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 0 0 0 3rem;
    border-bottom: none;
    border-left: #b2c7ae solid 2px;
    width: 30%;
  }

  .element-contacto:first-child {
    border-left: none;
  }

  .element-contacto h3 {
    margin: 0 0 0.5rem;
    font-size: 1rem;
    color: black;
  }

  .element-contacto a {
    text-decoration: none;
  }

  .text-infoContacto {
    width: 80%;
    color: black;
  }

  .text-infoContacto p {
    color: black;
    margin: 0;
    font-size: 0.8rem;
    margin: 0 auto;
  }

  .logo-infoContacto {
    display: flex;
  }

  .fa {
    color: #b2c7ae;
    font-size: 3rem;
  }

  .location-contacto p {
    text-align: left;
    margin-left: 1rem;
    font-size: 0.6rem;
  }
}

/*Footer*/
.footer {
  position: absolute;
  font-size: 14px;
  background-color: rgb(20, 20, 20);
}

@media(min-width:768px) {
  .footer {
    font-size: 16px;
  }
}

.container-redes-sociales {
  text-align: center;
  padding: 8px;
}

.container-redes-sociales ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.container-redes-sociales ul li {
  display: inline-block;
  position: relative;
}

.container-redes-sociales ul li:last-child {
  margin-right: 0;
}

.container-redes-sociales ul li a {
  text-decoration: none;
  color: #ccc;
}

.logo {
  font-size: 1.3rem;
  padding: 8px;
  padding-bottom: 16px;
  text-decoration: none;
}

.titulo-pagina {
  color: red;
  font-weight: bold;
}

.paginas {
  color: #ccc;
  text-decoration: none;
}

.paginas:hover {
  text-decoration: underline;
  color: gray;
}

.linea {
  border: none;
  border-left: 1px solid gray;
  text-align: center;
  padding-right: 8px;
  padding-left: 8px;
  font-weight: 100;
}

.linea:first-child {
  border: none;
}

.container-redes-sociales ul li a i {
  font-size: 20px;
  margin-right: 10px;
  padding: auto;
}

.container-about {
  color: #ccc;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 8px;
}

.links {
  font-size: 0.9rem;
  font-family: "Poppins";
  line-height: 50px;
  text-decoration: none;
  justify-content: space-between;
  margin-left: 24px;
}

.links:hover {
  color: red;
}

.copy {
  background-color: black;
}