/* Nav bar */

.navbar {
  transition: all 0.5s;
  padding: 10px 25px;
  background-color: none;
}

.navbar-scrolled {
  background-color: rgb(139, 37, 37, 0.9);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
}


.titulo-pagina {
  color: red;
  font-weight: bold;
}

.navbar-brand {
  font-size: 1.6rem;
}


.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar {
  transition: all 0.5s;
  padding: 10px 25px;
}

.logueado {
  display: none;
}

.administrar-navbar {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-link {
    font-size: 0.8rem !important;
    padding: 5px 3.5px !important;
    transition: 0.3s ease all;
  }

  .navbar-brand {
    font-size: 1.5rem;
    transition: 0.3s ease all;
  }
}

@media screen and (max-width: 575px) {

  .navbar-expand-sm {
    background-color: rgb(139, 37, 37, 0.9);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
    padding: 5px 15px !important;
  }

  .navbar-expand-sm a {
    font-size: 1rem;
  }

  .nav-link {
    padding: 5px 0;
    font-size: 0.8rem !important;
  }

  .navbar-toggler button {
    height: 20%;
  }

  .navbar-toggler-icon {
    font-size: 0.75rem;
  }
}

/* Cuerpo de Contactos */
.body-contacto {
  font-family: "Poppins", sans-serif;
}

.main-section {
  position: relative;
  height: 100vh;
}

.main-section>.contenedor {
  position: absolute;
  top: 6vw;
  left: 0;
  height: 100%;
  width: 100%;
}

.image-wrapper {
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  height: 100%;
  width: 100%;
}

.image-wrapper>.image {
  background-image: url("https://fondosmil.co/fondo/30546.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.image-wrapper>.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .7;
}

/*Seccion de formulario*/
/*Texto de consulta*/

.text-contacto p {
  text-align: center;
  font-size: 1rem;
  color: whitesmoke;
}

.text-contacto h2 {
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: whitesmoke;
}

/*Formulario Titulo*/

.titleForm-contacto {
  font-size: 1.2rem;
  color: whitesmoke;
  font-weight: 700;
}

/*Formulario contenedor*/
.divForm-contacto {
  padding: 1% 6.5% 5%;
}

.form-contacto {
  padding-left: 1.5%;
}

/*Formulario inputs y labels*/

.labelContacto {
  font-weight: 600;
  color: whitesmoke;
  font-size: 1rem;
}

.inputContacto {
  font-size: 1rem;
  margin: 0.4rem 0 0.4rem 3%;
  width: 97%;
  padding: 0.2rem;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  color: white;
}

.inputContacto-consulta {
  width: 97%;
  margin: 0.4rem 0 0.4rem 3%;
  border-radius: 0.5rem;
  height: 8rem;
  font-size: 1rem;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  color: white;
}

.footerForm-contacto {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.btnContacto {
  width: 80%;
  margin: 0 auto;
  border: none;
}

/*Contacto celular y email*/
.leftSide {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 5%;
}

.element-contacto {
  background-color: #212121;
  display: flex;
  width: 60%;
  align-items: center;
  text-align: center;
  margin-left: 30%;
  padding: 2%;
  margin-top: 5%;
  justify-content: space-around;
  border-radius: 8px;
}

.element-contacto:first-child {
  margin-left: 0;
}

.element-contacto h3 {
  font-size: 1rem;
  color: #ccc;
}

.element-contacto a {
  text-decoration: none;
}

.text-infoContacto {
  width: 55%;
  color: #ccc;
}

.text-infoContacto p {
  color: #ccc;
}

.logo-infoContacto {
  display: flex;
}

.fa {
  color: white;
  font-size: 2rem;
}

/*Footer*/
.footer {
  position: absolute;
  font-size: 14px;
  background-color: rgb(20, 20, 20);
}

@media(min-width:768px) {
  .footer {
    font-size: 16px;
  }
}

.container-redes-sociales {
  text-align: center;
  padding: 8px;
}

.container-redes-sociales ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.container-redes-sociales ul li {
  display: inline-block;
  position: relative;
}

.container-redes-sociales ul li:last-child {
  margin-right: 0;
}

.container-redes-sociales ul li a {
  text-decoration: none;
  color: #ccc;
}

.logo {
  font-size: 1.3rem;
  padding: 8px;
  padding-bottom: 16px;
  text-decoration: none;
}

.titulo-pagina {
  color: red;
  font-weight: bold;
}

.paginas {
  color: #ccc;
  text-decoration: none;
}

.paginas:hover {
  text-decoration: underline;
  color: gray;
}

.linea {
  border: none;
  border-left: 1px solid gray;
  text-align: center;
  padding-right: 8px;
  padding-left: 8px;
  font-weight: 100;
}

.linea:first-child {
  border: none;
}

.container-redes-sociales ul li a i {
  font-size: 20px;
  margin-right: 10px;
  padding: auto;
}

.container-about {
  color: #ccc;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 8px;
}

.links {
  font-size: 0.9rem;
  font-family: "Poppins";
  line-height: 50px;
  text-decoration: none;
  justify-content: space-between;
  margin-left: 24px;
}

.links:hover {
  color: red;
}

.copy {
  background-color: black;
}