body{
	background-color: #212121;
	color: white;
}
.bg-image{
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
}
.mask{
	background-color: rgba(0, 0, 0, 0.8);
	height: 100vh;
	
}
.navbar{
	transition: all 0.5s;
	padding: 10px 25px;
}
.navbar-scrolled{
	background-color: darkred;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
}

.navbar-scrolled {
	padding-top: 5px;
	padding-bottom: 5px;
  }

.boton-catalogo{
	background-color: rgb(221, 70, 70);
	border-radius: 10px;
	text-align: center;
	padding: 10px 20px;
	margin-top: 1rem;
	border: none;
}
.txt-boton-catalogo{	
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 18px;
}
.txt-boton-catalogo i{
	font-size: 22px;
	vertical-align: middle;
	color: rgb(255, 255, 255);
}

.boton-catalogo:hover{
	background-color: rgb(250, 66, 66);
	box-shadow: 0 0 20px rgb(224, 102, 71);
}

.boton-catalogo:hover .txt-boton-catalogo,.boton-catalogo:hover .txt-boton-catalogo i{
	color: white;
	text-shadow: 0 0 30px #fff;
}


/*Footer*/

.footer {
	position: absolute;
	background-color: rgb(20, 20, 20);
  }
  
  .paginas {
	border: none;
	border-right: 1px solid wheat;
  }
  
  .container-redes h2 {
	font-size: 1rem;
  }
  
  .container-about p {
	color: #fff;
	font-family: "Poppins";
	font-size: 0.9rem;
	text-align: center;
  }
  
  .container-redes {
	color: #fff;
	font-size: 0.9rem;
	font-family: "Poppins";
  }
  
  .container-redes-sociales {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: row;
  }
  
  .links {
	color: #fff;
	font-size: 1rem;
	font-family: "Poppins", sans-serif;
	line-height: 50px;
	text-decoration: none;
	justify-content: center;
	margin-right: 24px;
  }
  
  .container-redes-sociales .icon {
	font-size: 1.6rem;
	margin-right: 8px;
  }