.body-registro {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 0;
  position: relative;
}

.main-bar {
  position: relative;
  height: 100vh;
}

.main-bar>.contenedor {
  position: absolute;
  top: 0;
  left: 0;
  padding: 32px 24px;
}

@media (min-width:768px) {
  .body-registro {
    font-size: 16px;
  }

}

.title {
  color: white;
  text-transform: uppercase;
  width: 100%;
}

.contenedor {
  position: relative;
  height: 100%;
  width: 100%;
}

.row {
  margin-top: 5%;
  width: 100%;
  padding: auto;
}

.box {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  justify-content: center;
}

@media (min-width:768px) {
  .box {
    justify-content: start;
  }

  .row {
    padding: auto;
    width: 60%;
    margin-top: 0;
  }

  .label {
    text-align: start;
    text-transform: uppercase;
  }

  .content-btn {
    width: 90%;
    justify-content: center;
  }
}

.image-wrapper {
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  height: 100%;
  width: 100%;
}

.image-wrapper>.image {
  background-image: url("https://cdn.wallpapersafari.com/25/0/0B2jTs.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.image-wrapper>.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
}

.content {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  row-gap: 12px;
}

a {
  text-decoration: none;
  color: red;
}

.btn,
.btn:hover {
  background-color: none;
  border: 2px solid white;
  color: white;
  border-radius: 8px;
  width: 200px;
  text-transform: uppercase;
}

.input {
  width: 94%;
  background-color: #212121;
  border: none;
  border-radius: 4px;
  color: white;
}

.check {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  border: none;
  background-color: #212121;
}

.content-check {
  width: 90%;
  justify-content: center;
  text-overflow: clip;
  margin-bottom: 10px;
}

.check-l {
  width: 90%;
  display: inline;
  color: white;
}

/*Footer*/
.footer {
  position: absolute;
  background-color: rgb(20, 20, 20);
}

.container-redes-sociales {
  text-align: center;
  padding: 8px;
}

.container-redes-sociales ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.container-redes-sociales ul li {
  display: inline-block;
  position: relative;
}

.container-redes-sociales ul li:last-child {
  margin-right: 0;
}

.container-redes-sociales ul li a {
  text-decoration: none;
  color: #ccc;
}

.logo {
  font-size: 1.3rem;
  padding: 8px;
  padding-bottom: 16px;
}

.titulo-pagina {
  color: red;
  font-weight: bold;
}

.paginas {
  color: #ccc;
}

.paginas:hover {
  text-decoration: underline;
  color: gray;
}

.linea {
  border: none;
  border-left: 1px solid gray;
  text-align: center;
  padding-right: 8px;
  padding-left: 8px;
  font-weight: 100;
}

.linea:first-child {
  border: none;
}

.container-redes-sociales ul li a i {
  font-size: 20px;
  margin-right: 10px;
  padding: auto;
}

.container-about {
  color: #ccc;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 8px;
}

.links {
  font-size: 0.9rem;
  font-family: "Poppins";
  line-height: 50px;
  text-decoration: none;
  justify-content: space-between;
  margin-left: 24px;
}

.links:hover {
  color: red;
}

.copy {
  background-color: black;
}